CompileFlags:
  CompilationDatabase: build/Debug

Diagnostics:
  ClangTidy:
    Add:
      - bugprone-*
      - modernize-*
      - performance-*
      - readability-*
      - cppcoreguidelines-*
      - misc-*
    Remove:
      - readability-identifier-length       # Too noisy
      - readability-function-cognitive-complexity
      - misc-no-recursion
      - cppcoreguidelines-avoid-magic-numbers
      - readability-magic-numbers
      - cppcoreguidelines-non-private-member-variables-in-classes  # Allow POD-like structs with public members
      - misc-non-private-member-variables-in-classes               # Alias of above
    CheckOptions:
      readability-identifier-naming.ClassCase: CamelCase
      readability-identifier-naming.FunctionCase: camelBack
      readability-identifier-naming.VariableCase: camelBack
      readability-identifier-naming.PrivateMemberSuffix: _