# IDE related
.idea/
.vscode/*
!.vscode/launch.json
!.vscode/tasks.json
!.vscode/settings.json

# Build folders
cmake-build-debug/
cmake-build-release/
cmake-build-debug-coverage/
build/

# Version file
src/liblesma/Common/LesmaVersion.h

# Testing file
test*.les

# File system specific
**/.DS_Store
**/*.o
.cache/
compile_commands.json
/output

# Typescript
*.tsbuildinfo
/dbgout.dSYM/Contents
/bench.json
/suite.vl.json

tsconfig.tsbuildinfo
