# IDE related
.idea/
.vscode/

# Build folders
cmake-build-debug/
cmake-build-release/
cmake-build-debug-coverage/
build/

# Version file
src/liblesma/Common/LesmaVersion.h

# Testing file
test*.les

# File system specific
**/.DS_Store