{
  "branches": ["main"],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    ["@semantic-release/github", {
      "assets": [
        {"path": "Lesma-*.tar.gz"},
        {"path": "Lesma-*.sh"}
      ]
    }],
    "@semantic-release/changelog",
    "@semantic-release/git"
  ]
}