/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroLogoWrapper {
  position: relative;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 256px;
  height: 256px;
  margin-bottom: 1.5rem;
  border-radius: 48px;
  transform: translateX(-50%);
}

.heroLogo {
  width: 80%;
  height: 80%;
}

.heroButtons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}